<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Train It!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
    <div id="container">
        <div id="title-bar">
            <h1>Train It!</h1>
        </div>
        <div id="content">
            <div class="info-box">
                <div class="box-header">
                    <h2>Check A Service</h2>
                </div>
                <div id="input-form">
                    <form action="{{ url_for('handle_form') }}" method="get">
                        Station Codes<br>
                        <input type="text" name="source" placeholder="From" maxlength="3" size="5">
                        <input type="text" name="destination" placeholder="To" maxlength="3" size="5"><br><br>
                        Journey Date (DD/MM/YYYY)<br>
                        <input type="number" name="day" min="1" max="31" value="{{ day }}" size="2">
                        <input type="number" name="month" min="1" max="12" value="{{ month }}" size="2">
                        <input type="number" name="year" min="2020" max="2020" value="{{ year }}" size="4"><br><br>
                        Journey Time<br>
                        <input type="time" name="time" value="19:30"><br><br>
                        <input type="submit"><br>
                    </form>
                </div>
                <div id="error-box">
                    {% if errorMessage %}
                            <p>Error: {{ errorMessage }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="info-box">
                <div class="box-header">
                    <h2>Results</h2>
                </div>
                <div id="results-content">
                    <div id="service-details">
                        {% if source %}
                            <p>{{ source }} to {{ destination }}</p>
                            <p>{{ time }}</p>
                            <p>{{ date }}</p>
                        {% endif %}
                    </div>
                    <div id="delay-result" style="background-color: {{ delayColour }}">
                        {% if prediction %}
                            <p>Delay: {{ prediction }}</p>
                        {% endif %}
                    </div>
                    <div id="result-info">
                        {% if weather %}
                            <p>Weather: {{ weather }}</p>
                        {% endif %}
                    </div>
                </div>
             </div>
        </div>
        <div id="logos">
            <img src="{{ url_for('static', filename='img/NRE_Powered_logo.png') }}" alt="Powered by National Rail">
            <img src="{{ url_for('static', filename='img/poweredby-darksky.png') }}" alt="Powered by Dark Sky">
        </div>
    </div>
</body>
</html>