<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Train It!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
    <div id="container">
        <div id="title-bar">
            <h1>Train It!</h1>
        </div>
        <div id="content">
            <div class="info-box">
                <div class="box-header">
                    <h2>Check A Service</h2>
                </div>
                <div id="input-form">
                    <form action="{{ url_for('handle_form') }}" method="get">
                        <span class="label">Station Codes</span><br>
                        <select name="source" required>
                            <option selected disabled>From</option>
                            {% for code, name in stationCodes.items() %}
                                <option value="{{ code }}">{{ name }}</option>
                            {% endfor %}
                        </select><br><br>
                        <select name="destination" required>
                            <option selected disabled>To</option>
                            {% for code, name in stationCodes.items() %}
                                <option value="{{ code }}">{{ name }}</option>
                            {% endfor %}
                        </select><br><br>
                        <span class="label">Journey Date (DD/MM/YYYY)</span><br>
                        <input type="number" name="day" id="day" min="1" max="31" size="2">
                        <input type="number" name="month" id="month" min="1" max="12" size="2">
                        <input type="number" name="year" id="year" min="2020" max="2020" size="4"><br><br>
                        <span class="label">Journey Time</span><br>
                        <input type="time" name="time" id="time"><br><br>
                        <input type="submit"><br>
                    </form>
                </div>
                <div id="error-box">
                    {% if errorMessage %}
                            <p>Error: {{ errorMessage }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="info-box">
                <div class="box-header">
                    <h2>Results</h2>
                </div>
                <div id="results-content" style="background-color: {{ gridColour }}">
                    <div id="service-details">
                        {% if source %}
                            <p>{{ source }} to {{ destination }}</p>
                            <p>{{ time }}</p>
                            <p>{{ date }}</p>
                        {% endif %}
                    </div>
                    <div id="delay-result" style="background-color: {{ delayColour }}">
                        {% if prediction %}
                        <p><b>{{ prediction }}</b></p>
                        {% endif %}
                    </div>
                    <div id="result-info">
                        {% if weather %}
                            <p>Weather: {{ weather }}</p>
                        {% endif %}
                    </div>
                </div>
             </div>
        </div>
        <div id="logos">
            <img src="{{ url_for('static', filename='img/NRE_Powered_logo.png') }}" alt="Powered by National Rail">
            <img src="{{ url_for('static', filename='img/poweredby-darksky.png') }}" alt="Powered by Dark Sky">
        </div>
    </div>

    <script>
        var today = new Date();
        var currTime = today.getHours() + ':' + today.getMinutes();
        document.getElementById('time').value = currTime;
        document.getElementById('day').value = today.getDate();
        document.getElementById('month').value = today.getMonth() + 1;
        document.getElementById('year').value = today.getFullYear();
    </script>
</body>
</html>